<!-- Blog Sidebar Widgets Column -->
<aside class="col-md-4" ng-controller="sideBarCtrl" >

    {{search}}
    {{cleanUrl}}
    <!-- Blog Search Well -->
    <div class="well" >
        <h4>Search  labelTxt : {{labelTxt}}</h4>
        <div class="input-group">
            <input type="text" class="form-control" ng-model="searchText">
						<span class="input-group-btn">
							<a href="#/posts?search={{searchText}} " class="btn btn-default" >
                                <span class="glyphicon glyphicon-search"></span>
                            </a>
						</span>
        </div>
        {{searchText}}
        <!-- /.input-group -->
    </div>

    <!-- Blog Categories Well -->
    <div class="well">
        <h3>Filter Posts</h3>

        <div class="list-group">
            <a href="#/posts" class="list-group-item " ng-class="{active:isSelected(null, 'posts')}" ng-click="filterAll()" >
                <span class="badge">{{postsQuantity}}</span>
                Show All Posts
            </a>
        </div>

        <h4><small class="glyphicon glyphicon-tag" ></small> Category</h4>
        <div class="list-group" >
            <a href="#/posts?category={{cleanUrl(category.text)}} "  class="list-group-item"  ng-class="{active: isSelected(category.text,'category')}" ng-repeat="category in categories " >
                <span class="badge">{{category.num}}</span>
                {{category.text}}
            </a>

        </div>

        <h4><small class="glyphicon glyphicon-user" ></small> Author</h4>
        <div class="list-group" ng-model="path" ng-change="change()">
            <a href="#/posts?author={{cleanUrl(author.text)}}" class="list-group-item" ng-class="{active: isSelected(author.text,'author')}"  ng-repeat="author in authors " >
                <span class="badge">{{author.num}}</span>
                {{author.text}}
            </a>

        </div>

        <h4><small class="glyphicon glyphicon-time"></small> Month</h4>
        <div class="list-group">
						<span href="#" class="list-group-item disabled">
							2015
						</span>
            <a href="#" class="list-group-item">
                <span class="badge">4</span>
                January
            </a>
						<span href="#" class="list-group-item disabled">
							2014
						</span>
            <a href="#" class="list-group-item">
                <span class="badge">4</span>
                December
            </a>
        </div>
    </div>
</aside>